@import './znaki-kolory.scss';
@import './mixin.scss';

.miejscowosc {
  background: $green;
  color: $white;
  padding: 0.75em 1em;
  margin-right: 0.5em;

  &.przekreslony {
    &:after {
      position: absolute;
      top: 0.2em;
      bottom: 0.2em;
      left: 0.2em;
      right: 0.2em;
      background: linear-gradient(
        to top left,
        transparent 45%,
        $red 47%,
        $red,
        $red 54%,
        transparent 55%
      );
      content: "";
    }
  }

  &:before {
    position: absolute;
    top: 0.05em;
    bottom: 0.05em;
    left: 0.05em;
    right: 0.05em;
    border: 0.15em solid white;
    content: "";
    @include borderRadius;
  }
}

.drogowskaz {
  background: $white;
  color: $darkblue;
  padding: 0.25em 0.5em;
  margin-right: 1.5em;
  border: 0.1em solid $darkblue;
  border-right: none;
  
  border-radius: 0px !important;

  &:before {
    position: absolute;
    height: 0;
    width: 0;
    right: -1em;
    top: -0.1em;

    border-left: 1em solid $darkblue;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;

    content: "";
  }

  &:after {
    position: absolute;
    height: 0;
    width: 0;
    right: -0.6em;
    top: 0;

    border-left: 0.6em solid white;
    border-top: 0.9em solid transparent;
    border-bottom: 0.9em solid transparent;

    content: "";
  }
}
