@import './znaki-kolory.scss';
@import './mixin.scss';

.miejscowosc {
  background: $green;
  color: $white;
  padding: 0.75em 1em;
  margin-right: 0.5em;

  &.przekreslony {
    &:after {
      position: absolute;
      top: 0.2em;
      bottom: 0.2em;
      left: 0.2em;
      right: 0.2em;
      background: linear-gradient(
        to top left,
        transparent 45%,
        $red 47%,
        $red,
        $red 54%,
        transparent 55%
      );
      content: "";
    }
  }

  &:before {
    position: absolute;
    top: 0.05em;
    bottom: 0.05em;
    left: 0.05em;
    right: 0.05em;
    border: 0.15em solid white;
    content: "";
    @include borderRadius;
  }
}

@mixin drogowskaz($color) {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  background: $white;
  color: $color;
  padding: 0.25em 0.5em;
  margin-right: 1.5em;
  border: 0.1em solid $color;
  border-right: none;
  
  border-radius: 0px !important;

  &:before {
    position: absolute;
    height: 0;
    width: 0;
    right: -1em;
    top: -0.1em;

    border-left: 1em solid $color;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;

    content: "";
  }

  &:after {
    position: absolute;
    height: 0;
    width: 0;
    right: -0.6em;
    top: 0;

    border-left: 0.6em solid white;
    border-top: 0.9em solid transparent;
    border-bottom: 0.9em solid transparent;

    content: "";
  }

  &:only-child {
    margin-right: 0;
  }

  [class*='icon-'] {
    margin-right: 0.5em;
  }
}

.drogowskaz {
  @include drogowskaz($darkblue);  
}

.zabytek {
  @include drogowskaz($brown);  
}

.drogowskaz-miejscowosc {
  @include drogowskaz($white);
  background: $green;

  &:after{
    border-left: 0.6em solid $green;
  }
}

.droga {
  padding: 0 0.5em;

  @include marginRight;
  
  &.krajowa {
    background: $red;
    color: $white;
    border: 0.1em solid $white;
  }

  &.wojewodzka {
    background: $yellow;
    color: $black;
    border: 0.1em solid $black;
  }

  &.miedzynarodowa {
    background: $green;
    color: $white;
    border: 0.1em solid $white;
  }

  &.small {
    font-size: 16px;
  }
}

.tablica {
  color: $white;
  min-width: 10em;
  padding: 0.2em;

  @include marginRight;
  
  &.green {
    background: $green;
  }

  &.blue {
    background: $darkblue;
  }

  &.mieszana {
    background: $white;
    border: 0.05em solid $green;

    .row {
      &:not(:last-child) {
        margin-bottom: 0.2em;
      }
      
      &.green {
        background: $green;
      }

      &.blue {
        background: $darkblue;
      }
    }
  }

  &.kierunkowa {
    .row {
      padding: 0.125em 0.5em;
    }
  }

  &:before {
    position: absolute;
    top: 0.05em;
    bottom: 0.05em;
    left: 0.05em;
    right: 0.05em;
    border: 0.15em solid white;
    content: "";
    @include borderRadius;
  }

  .row {
    position: relative;
    display: flex;
    flex-flow: row;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;

    &.center {
      justify-content: center;
    }
  }

  .group {
    position: relative;
    display: flex;
    flex-flow: row;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
  }
}
