@import './fonts/css/drogowskaz.css';
@import './fonts/css/symbole.css';
@import './znaki-kolory.scss';
@import './mixin.scss';

@import './E.scss';

.znak {
  position: relative;
  display: flex;
  flex-flow: column;
  font-family: 'Drogowskaz';
  font-size: 20px;
  box-sizing: border-box;
  @include borderRadius;

  &.big {
    font-size: 32px;
  }
}

.warning {
}

.info {
  background-color: $blue;
}
